<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true" >
  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <!--archive file every 100MB-->
      <target name="logfile" xsi:type="File" archiveFileName="./Invaders.{#####}.log" archiveAboveSize="100000000" archiveNumbering="DateAndSequence" archiveDateFormat="yyyyMMdd" maxArchiveFiles="9" fileName="./Invaders.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=ToString}" />
    </target>
  </targets>

  <rules>
    <!--Wildcard filter matching any existing rules not marked as final, or any other namespaces not specifically mentioned-->
    <logger name="*" minlevel="Debug" writeTo="asyncFile" final="true" />
  </rules>
</nlog>